body{font-family: arial;background-color:white;margin: 1px;}
header{background-color: #036 ; ;text-align:center; padding: 5px;}
.content{
    background-color: #f0f7fb;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #036;
}

h2{color: #036;} 
footer{background-color:#036;text-align:center;padding: 5px;}